<div class="homeContainer">
    <div class="header">
        <div class="title">Welcome to Family Homes</div>
        <div class="imageContainer">
            <img src="assets/Home/homePhoto.jpg" width="100%;">
        </div>
    </div>
    <div class="body">
        <div>
            Welcome to our website, we invite you to look at our range of homes that we wish to fill with happy families, along with a range of services and events to help you in the process of buying your new home. We aim to ensure that the home that your family buy is the perfect fit, and will always be there to help support you in any way during the process.
        </div>
    </div>
    <div class="images">
        <div (mouseenter)="hover = 1;" (mouseleave)="hover = 0;" (click)="goToPage(1)">
            <div *ngIf="hover === 1" [ngClass]="hover === 1 ? 'hovered' : ''">
                Homes
            </div>
            <img src="assets/Home/homes.jpg" width="100%;">
        </div>
        <div (mouseenter)="hover = 2;" (mouseleave)="hover = 0;" (click)="goToPage(2)">
            <div *ngIf="hover === 2" [ngClass]="hover === 2 ? 'hovered' : ''">
                Events
            </div>
            <img src="assets/Home/events.jpg" width="100%;">
        </div>
        <div (mouseenter)="hover = 3;" (mouseleave)="hover = 0;" (click)="goToPage(3)">
            <div *ngIf="hover === 3" [ngClass]="hover === 3 ? 'hovered' : ''">
                Services
            </div>
            <img src="assets/Home/services.jpg" width="100%;">
        </div>
    </div>
</div>