.homeContainer {
    width: 100%;
    height: 100%;
}

.header {
    height: 500px;
    width: 100%;
    overflow: hidden;
    div {
        &.title {
            margin-top: 200px;
            margin-left: calc(50% - 300px);
            height: 100px;
            width: 600px;
            background-color: white;
            z-index: 10;
            position: absolute;
            opacity: 0.7;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 36px;
            font-weight: bold;
        }
        &.imageContainer {
            width: 100%;
            img {
                margin-top: -30%;
                position: relative;
            }
        }
    }
}

.body {
    height: 200px;
    width: 100%;
    background-color: #800020;
    div {
        height: 150px;
        width: 1000px;
        margin: auto;
        padding-top: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        color: white;
    }
}

.images {
    display: flex;
    height: 300px;
    div {
        width: 33.33%;
        overflow: hidden;
        &.hovered {
            background-color: white;
            z-index: 10;
            position: absolute;
            opacity: 0.7;
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 40px;
            font-weight: bold;
            cursor: pointer;
        }
    }
}