.servicesContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px 1fr;
    background-color: #800020;
    height: calc( 100vh - 50px );
}

.servicesList {
    width: 90%;
    margin-left: 5%;
}

.filters {
    width: 90%;
    margin-left: 5%;
    background-color: lightcoral;
    display: grid;
    grid-template-columns: 200px 200px 1fr 200px 200px 100px 200px;
    grid-template-rows: 1fr 1fr;
    row-gap: 5px;
    column-gap: 5px;
}

.loc {
    display: grid;
    grid-template-columns: 1fr 30px;
    grid-template-rows: 1fr;
}

.row {
    height: 200px;
    width: 100%;
    display: grid;
    grid-template-rows: 25px 50px 50px 50px 25px;
    grid-template-columns: 200px 300px 1fr 100px 200px;
    margin-bottom: 10px;
    background-color: burlywood;
}


input {
    border: none;
    border-bottom: 1px solid;
    outline: none;
    padding-left: 5px;
    background-color: transparent;
    color: white;
}

.button {
    grid-row: 1 / 3;
    grid-column: 7;
    background-color: lightblue;
    border-radius: 7px;
    height: calc( 100% - 10px );
    width: calc( 100% - 10px );
    margin: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}