<div class="staffContainer">
    <div class="header">
        <div class="title">Properties</div>
        <div class="button" (click)="createProperty()" *ngIf="checkRights('create_rights')">+</div>
    </div>
    <div class="body">
        <div class="grid">
            <div>ID</div>
            <div>Address</div>
            <div>Post Code</div>
            <div>Price</div>
        </div>
        <div [ngStyle]="createGrid()">
            <div *ngFor="let row of propertyList; let i = index" class="grid">
                <div>{{row['property_ID']}}</div>
                <div>{{row['street_no']}} {{row['street_name']}}</div>
                <div>{{row['post_code']}}</div>
                <div>{{row['price']}}</div>
                <div *ngIf="checkRights('update_rights')" (click)="update(i)">Edit</div>
                <div *ngIf="checkRights('delete_rights')" (click)="deleteProperty(i)">Delete</div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="active === 1" class="modalContainer" [ngStyle]="modalHeader != '' ? {'display' : 'block'} : {'display':'none'}">
    <div class="modal">
        <div class="modalHeader">
            {{modalHeader}} : {{modalProperty['property_ID']}}
        </div>
        <div class="modalBody">
            <div style="grid-row: 1; grid-column: 1">Address:</div>
            <div style="grid-row: 2; grid-column: 1" class="street">
                <input type="text" [(ngModel)]="modalProperty['street_no']" placeholder="01">
                <input type="text" [(ngModel)]="modalProperty['street_name']" placeholder="Street name">
            </div>
            <input style="grid-row: 3; grid-column: 1" type="text" [(ngModel)]="modalProperty['town']" placeholder="Town">
            <input style="grid-row: 4; grid-column: 1" type="text" [(ngModel)]="modalProperty['county']" placeholder="County">
            <input style="grid-row: 5; grid-column: 1" type="text" [(ngModel)]="modalProperty['post_code']" placeholder="Post code">
            <input style="grid-row: 6; grid-column: 1" type="text" [(ngModel)]="modalProperty['location']" placeholder="Google map location">
            <div style="grid-row: 1; grid-column: 2">Property details:</div>
            <textarea style="grid-row: 2 / 4; grid-column: 2" type="text" [(ngModel)]="modalProperty['description']" placeholder="Property description...">
            </textarea>
            <div style="grid-row: 4 / 6; grid-column: 2; display: grid; grid-template-columns: 100px 1fr; grid-template-rows: 1fr 1fr;">
                <div style="font-weight: normal !important; font-size: 14px;">House price:</div>
                <input type="text" [(ngModel)]="modalProperty['price']" placeholder="£99999.99">
                <div *ngIf="modalHeader == 'Update property'" style="font-weight: normal !important; font-size: 14px;">Agreed fee:</div>
                <input *ngIf="modalHeader == 'Update property'" type="text" [(ngModel)]="modalSale['sale_price']" placeholder="£99999.99">
            </div>
            <div style="grid-row: 6; grid-column: 2; display: grid; grid-template-columns: 100px 1fr 100px 1fr; grid-template-rows: 1fr; column-gap: 5px;">
                <div style="font-weight: normal !important; font-size: 14px;">Seller ID:</div>
                <input type="text" [(ngModel)]="modalSale['seller_ID']">
                <div *ngIf="modalHeader == 'Update property'" style="font-weight: normal !important; font-size: 14px;">Buyer ID:</div>
                <input *ngIf="modalHeader == 'Update property'" type="text" [(ngModel)]="modalSale['buyer_ID']" placeholder="Buyer ID">
            </div>
            <div class="imageContainer" style="grid-row: 7; grid-column: 1 / 3">
                <div class="imageHeader">Images:</div>
                <div (click)="addImage()" class="imageButton">+</div>
                <input style="display: none" type="file" id="img" name="img" accept="image/*" (change)="imageUploaded($event)">
                <div style="display: grid; grid-template-columns: 1fr; grid-template-rows: 30px 1fr; grid-row: 2; grid-column: 1 / 3">
                    <div class="headerImageRow imageRow">
                        <div>
                            Image name:
                        </div>
                        <div>File size:</div>
                    </div>
                    <div *ngFor="let image of images['files']; let i = index" class="imageRow">
                        <div>{{image.name}}</div>
                        <div>{{image.fileSize}}</div>
                        <div>View</div>
                        <div (click)="deleteImage(i)">Delete</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modalButtons">
            <div (click)="close()">Cancel</div>
            <div (click)="save()">Save</div>
        </div>
    </div>
</div>