.loginBody {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.loginContainer {
    height: 150px;
    width: 400px;
    background-color: white;
    z-index: 10;
    position: absolute;
    opacity: 0.7;
    padding: 20px 100px 140px 100px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20px 40px 35px 30px 30px 30px 50px 20px;
    div {
        display: flex;
        align-items: center;
        font-size: 16px;
        &.clientStaff {
            height: 40px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            column-gap: 10px;
            div {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                font-size: 20px;
                &.selected {
                    font-size: 22px;
                    border-bottom: 2px solid;
                }
                &.unselected {
                    cursor: pointer;
                    &:hover {
                        font-size: 21px;
                        border-bottom: 1px solid;
                    }
                }
            }
        }
        &.button {
            height: 40px;
            width: 160px;
            margin: auto;
            font-size: 18px;
            color: white;
            background-color: darkcyan;
            border-radius: 5px;
            justify-content: center;
            cursor: pointer;
        }
        &.newAccount {
            font-size: 14px;
            color: darkblue;
            justify-content: center;
            cursor: pointer;
        }
        &.message {
            font-size: 12px;
            color: red;
            justify-content: center;
        }
    }
    input {
        border: none;
        border-bottom: 1px solid;
        outline: none;
        padding-left: 5px;
    }
}

.accountCreateContainer {
    height: 150px;
    width: 400px;
    background-color: white;
    z-index: 10;
    position: absolute;
    opacity: 0.7;
    padding: 20px 100px 130px 100px;
    display: grid;
    grid-template-columns: repeat(40, 10px);
    grid-template-rows: 30px 30px 30px 30px 30px 30px 30px 50px;
    div {
        display: flex;
        align-items: center;
        font-size: 16px;
        &.button {
            height: 40px;
            width: 160px;
            margin: auto;
            font-size: 18px;
            color: white;
            background-color: darkcyan;
            border-radius: 5px;
            justify-content: center;
            cursor: pointer;
            grid-row: 8;
            grid-column: 13;
        }
    }
    input {
        border: none;
        border-bottom: 1px solid;
        outline: none;
        padding-left: 5px;
    }
}