<div class="loginBody">
    <div *ngIf="!bCreateAccount" class="loginContainer">
        <div class="message">{{sMessage}}</div>
        <div class="clientStaff">
            <div [ngClass]="bStaff ? 'unselected' : 'selected'" (click)="bStaff = false">Client portal</div>
            <div [ngClass]="bStaff ? 'selected' : 'unselected'" (click)="bStaff = true">Staff portal</div>
        </div>
        <div>Username:</div>
        <input [(ngModel)]="sLoginUser" placeholder="Username">
        <div>Password:</div>
        <input [(ngModel)]="sLoginPw" placeholder="Password" type="password">
        <div class="button" (click)="login()">Login</div>
        <div class="newAccount" (click)="bCreateAccount = true">Create new account...</div>
    </div>
    <div *ngIf="bCreateAccount" class="accountCreateContainer">
        <input [(ngModel)]="fName" placeholder="First Name" style="grid-row: 1; grid-column: 1 / 19;">
        <input [(ngModel)]="lName" placeholder="Last Name" style="grid-row: 1; grid-column: 21 / 41;">
        <input [(ngModel)]="streetNo" placeholder="01" style="grid-row: 2; grid-column: 1 / 3;">
        <input [(ngModel)]="streetName" placeholder="Street Name" style="grid-row: 2; grid-column: 4 / 41;">
        <input [(ngModel)]="town" placeholder="Town" style="grid-row: 3; grid-column: 1 / 41;">
        <input [(ngModel)]="county" placeholder="County" style="grid-row: 4; grid-column: 1 / 41;">
        <input [ngModel]="postCode" placeholder="Post Code" style="grid-row: 5; grid-column: 1 / 41;">
        <input [(ngModel)]="email" placeholder="Email Address" style="grid-row: 6; grid-column: 1 / 41;">
        <input [(ngModel)]="pw" placeholder="Password" type="password" style="grid-row: 7; grid-column: 1 / 41;">
        <div class="button" (click)="createAccount()">Login</div>
    </div>
    <img src="assets/loginPhoto.jpg" width="100%" height="100%">
</div>