.staffContainer {
    width: calc(100% - 50px);
    height: calc(100vh - 100px);;
    margin: 25px;
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr;
}

.header {
    background-color: #07567e;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 50px;
    grid-template-rows: 50px;
    font-size: 28px;
    font-weight: bold;
    color: white;
    border-radius: 10px 10px 0px 0px;
    div {
        &.title {
            display: flex;
            align-items: center;
            margin-left: 25px;
        }
        &.button {
            width: 30px;
            height: 30px;
            margin: auto;
            cursor: pointer;
            border-radius: 50%;
            border: 2px solid white;
            font-size: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.body {
    background-color: #e7eaec;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 1fr;
    border-radius: 0px 0px 10px 10px;
}

.grid {
    display: grid;
    grid-template-rows: 40px;
    grid-template-columns: 40px 1fr 1fr 100px 80px 80px 80px;
    border-bottom: 1px solid lightgray;
    div {
        display: flex;
        align-items: center;
        width: 100%;
        margin-left: 15px;
    }
}

.modalContainer {
    height: 100%;
    width: 100%;
    z-index: 30;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: hsla(0,0%,0%,0.4);
    position: fixed;
    padding-top: 50px;
    div {
        &.modal {
            width: 100%;
            background-color: #fefefe;
            margin: auto;
            max-width: 1000px;
            height: 600px;
            border-radius: 10px;
            padding: 10px;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 60px 1fr 60px;
            div {
                &.modalHeader {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    margin-left: 30px;
                    font-size: 30px;
                    color: #8eb4e3;
                }
                &.modalBody {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 40px 1fr 40px 1fr;
                    row-gap: 10px;
                    width: 100%;
                    height: 100%;
                    div {
                        &.staffModal {
                            display: grid;
                            grid-template-columns: 1fr;
                            grid-template-rows: 30px 30px 30px 30px 30px 30px 30px 50px;
                            row-gap: 5px;
                            width: 90%;
                            padding: 0 5%;
                            div {
                                font-size: 18px;
                                font-weight: bold;
                                display: flex;
                                align-items: center;
                                margin-left: 20px;
                                height: 100%;
                                &.type {
                                    display: grid;
                                    grid-template-columns: 1fr 1fr;
                                    grid-template-rows: 40px;
                                    column-gap: 10px;
                                    margin: 0 5px;
                                    div {
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        font-weight: normal;
                                        &.active {
                                            border-bottom: 2px solid;
                                            font-size: 24px;
                                        }
                                        &.inactive {
                                            font-size: 20px;
                                            cursor: pointer;
                                            &:hover {
                                                border-bottom: 1px solid;
                                                font-size: 22px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        &.internalDetails {
                            display: grid;
                            grid-template-columns: 1fr 30px 1fr 30px;
                            grid-template-rows: 40px 40px;
                            column-gap: 30px;
                            row-gap: 10px;
                            width: 90%;
                            padding: 0 5%;
                            div {
                                display: flex;
                                align-items: center;
                                font-size: 18px;
                                font-weight: bold;
                                margin-left: 20px;
                            }
                        }
                        &.contactDetails {
                            display: grid;
                            grid-template-columns: 200px 1fr;
                            grid-template-rows: 40px 40px;
                            column-gap: 10px;
                            row-gap: 10px;
                            width: 90%;
                            padding: 0 5%;
                            font-size: 18px;
                            font-weight: bold;
                            div {
                                display: flex;
                                align-items: center;
                                margin-left: 20px;
                            }
                            input {
                                text-align: right;
                            }
                        }
                    }
                }
                &.modalButtons {
                    width: 90%;
                    height: 100%;
                    margin: auto;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    div {
                        cursor: pointer;
                        width: 130px;
                        height: 40px;
                        background-color: #558fd5;
                        color: white;
                        border-radius: 7px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 0 5px;
                    }
                }
            }
        }
    }
}

input[type=text] {
    border: none;
    border-bottom: 1px solid;
    outline: none;
    padding-left: 5px;
}

input[type=checkbox] {
    height: 20px;
    width: 20px;
    margin: auto;
}

.subTitle {
    font-size: 28px;
    font-weight: bold;
    margin-left: 30px;
}