<div class="staffContainer">
    <div class="header">
        <div class="title">Staff</div>
        <div class="button" (click)="createStaff()" *ngIf="checkRights()">+</div>
    </div>
    <div class="body">
        <div class="grid">
            <div>ID</div>
            <div>Name</div>
            <div>Email Address</div>
            <div>Role</div>
        </div>
        <div [ngStyle]="createGrid()">
            <div *ngFor="let row of staffList; let i = index" class="grid">
                <div>{{row['staff_ID']}}</div>
                <div>{{row['first_name']}} {{row['last_name']}}</div>
                <div>{{row['email_address']}}</div>
                <div *ngIf="row['internal'] === true">Staff</div>
                <div *ngIf="row['internal'] === false">Contact</div>
                <div *ngIf="checkRights()" (click)="update(i)">Edit</div>
                <div *ngIf="checkRights()" (click)="deleteStaff(i)">Delete</div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="active === 1" class="modalContainer" [ngStyle]="modalHeader != '' ? {'display' : 'block'} : {'display':'none'}">
    <div class="modal">
        <div class="modalHeader">
            {{modalHeader}} : {{modalStaff['staff_ID']}}
        </div>
        <div class="modalBody">
            <div class="staffBody">
                <div class="subTitle">Staff details:</div>
                <div class="staffModal">
                    <div>First name:</div>
                    <input type="text" [(ngModel)]="modalStaff['first_name']">
                    <div>Last name:</div>
                    <input type="text" [(ngModel)]="modalStaff['last_name']">
                    <div>Email address:</div>
                    <input type="text" [(ngModel)]="modalStaff['email_address']">
                    <div *ngIf="modalHeader === 'Create new Staff member'">Staff type:</div>
                    <div class="type" *ngIf="modalHeader === 'Create new Staff member'">
                        <div [ngClass]="modalStaff['internal'] === true ? 'active' : 'inactive'" (click)="setInternal(true)">Staff</div>
                        <div [ngClass]="modalStaff['internal'] === false ? 'active' : 'inactive'" (click)="setInternal(false)">Contact</div>
                    </div>
                </div>
                <div *ngIf="modalStaff['internal'] === true" class="subTitle">
                    Staff rights:
                </div>
                <div *ngIf="modalStaff['internal'] === true" class="internalDetails">
                    <div>Create rights:</div>
                    <input type="checkbox" [(ngModel)]="modalStaffDetails['create_rights']">
                    <div>Amend rights:</div>
                    <input type="checkbox" [(ngModel)]="modalStaffDetails['amend_rights']">
                    <div>Delete rights</div>
                    <input type="checkbox" [(ngModel)]="modalStaffDetails['delete_rights']">
                    <div>Admin:</div>
                    <input type="checkbox" [(ngModel)]="modalStaffDetails['admin']">
                </div>
                <div *ngIf="modalStaff['internal'] === false" class="subTitle">
                    Contact details:
                </div>
                <div *ngIf="modalStaff['internal'] === false" class="contactDetails">
                    <div>Company Name:</div>
                    <input type="text" [(ngModel)]="modalStaffDetails['company_name']">
                    <div>Hourly rates:</div>
                    <input type="text" [(ngModel)]="modalStaffDetails['hourly_rate']">
                </div>
            </div>
        </div>
        <div class="modalButtons">
            <div (click)="close()">Cancel</div>
            <div (click)="save()">Save</div>
        </div>
    </div>
</div>