<div class="website">
    <div class="banner">
        <div class="title" routerLink="/home" routerLinkActive="active">Family Homes</div>
        <div class="link" routerLink="/about-us" routerLinkActive="active">About us</div>
        <div id="homeLink" class="link" routerLink="/homes" routerLinkActive="active">Homes</div>
        <div id="eventLink" class="link" routerLink="/events" routerLinkActive="active">Events</div>
        <div id="serviceLink" class="link" routerLink="/services" routerLinkActive="active">Services</div>
        <div class="logout" (click)="logout()">Logout</div>
    </div>
    <router-outlet></router-outlet>
</div>