.website {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr;
}

.banner {
    width: 100%;
    height: 100%;
    background-color: #800020;
    color: white;
    font-weight: bold;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 100px 100px 100px 100px 100px 30px;
    div {
        display: flex;
        align-items: center;
        &.title {
            font-size: 36px;
            margin-left: 30px;
        }
        &.link {
            justify-content: center;
            font-size: 18px;
            &:hover {
                cursor: pointer;
                border-bottom: 5px solid;
                font-size: 20px;
            }
        }
        &.logout {
            justify-content: center;
            font-size: 16px;
            cursor: pointer;
        }
    }
}