<div>
    <app-login *ngIf="clientPortal === false && staffPortal === false" (loggedIn)="loginToClientPortal($event)" (staffPortal)="loginToStaffPortal($event)"></app-login>
    <app-client-portal [client]="client" *ngIf="clientPortal === true" (loggingOut)="logout()"></app-client-portal>
    <app-staff-portal [staff]="staff" *ngIf="staffPortal === true" (loggingOut)="logout()"></app-staff-portal>
</div>