<div class="staffContainer">
    <div class="header">
        <div class="title">Properties</div>
        <div class="button" (click)="createEvent()" *ngIf="checkRights()">+</div>
    </div>
    <div class="body">
        <div class="grid">
            <div>ID</div>
            <div>Event name</div>
            <div>Event host ID</div>
            <div>Staff manager ID</div>
            <div>Event start time</div>
            <div>Price</div>
        </div>
        <div [ngStyle]="createGrid()">
            <div *ngFor="let row of eventList; let i = index" class="grid">
                <div>{{row['event_ID']}}</div>
                <div>{{row['event_name']}}</div>
                <div>{{row['event_host_ID']}}</div>
                <div *ngIf="row['staff_manager_ID']">{{row['staff_manager_ID']}}</div>
                <div *ngIf="!row['staff_manager_ID']">Unassigned</div>
                <div>{{row['start_time']}}</div>
                <div>{{row['price']}}</div>
                <div *ngIf="checkRights()" (click)="update(i)">Edit</div>
                <div *ngIf="checkRights()" (click)="deleteEvent(i)">Delete</div>
                <div style="grid-column: 7 / 9;" *ngIf="canBeAssigned(i)" (click)="assignTo(i)">Assign myself as event manager</div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="active === 1" class="modalContainer" [ngStyle]="modalHeader != '' ? {'display' : 'block'} : {'display':'none'}">
    <div class="modal">
        <div class="modalHeader">
            {{modalHeader}} : {{modalEvent['event_ID']}}
        </div>
        <div class="modalBody">
            <div style="grid-row: 1; grid-column: 1">Address:</div>
            <div style="grid-row: 2; grid-column: 1" class="street">
                <input type="text" [(ngModel)]="modalEvent['street_no']" placeholder="01">
                <input type="text" [(ngModel)]="modalEvent['street_name']" placeholder="Street name">
            </div>
            <input style="grid-row: 3; grid-column: 1" type="text" [(ngModel)]="modalEvent['town']" placeholder="Town">
            <input style="grid-row: 4; grid-column: 1" type="text" [(ngModel)]="modalEvent['county']" placeholder="County">
            <input style="grid-row: 5; grid-column: 1" type="text" [(ngModel)]="modalEvent['post_code']" placeholder="Post code">
            <input style="grid-row: 6; grid-column: 1" type="text" [(ngModel)]="modalEvent['location']" placeholder="Google map location">
            <div style="grid-row: 1; grid-column: 2">Property details:</div>
            <div style="grid-row: 2; grid-column: 2; display: grid; grid-template-columns: 80px 1fr 80px 80px; grid-template-rows: 1fr; column-gap: 5px;">
                <div style="font-weight: normal !important; font-size: 14px;">Event name:</div>
                <input type="text" [(ngModel)]="modalEvent['event_name']" placeholder="£99999.99">
                <div style="font-weight: normal !important; font-size: 14px;">Event price:</div>
                <input type="text" [(ngModel)]="modalEvent['price']" placeholder="£99999.99">
            </div>
            <textarea style="grid-row: 3 / 5; grid-column: 2" type="text" [(ngModel)]="modalEvent['event_description']" placeholder="Property description...">
            </textarea>
            <div style="grid-row: 5 / 7; grid-column: 2; display: grid; grid-template-columns: 100px 1fr; grid-template-rows: 1fr 1fr;">
                <div style="font-weight: normal !important; font-size: 14px;">Start time</div>
                <input id="start" type="datetime-local" [(ngModel)]="modalEvent['start_time']">
                <div style="font-weight: normal !important; font-size: 14px;">End time</div>
                <input id="end" type="datetime-local" [(ngModel)]="modalEvent['end_time']">
            </div>
            <div class="imageContainer" style="grid-row: 7; grid-column: 1 / 3">
                <div class="imageHeader">Images:</div>
                <div (click)="addImage()" class="imageButton">+</div>
                <input style="display: none" type="file" id="img" name="img" accept="image/*" (change)="imageUploaded($event)">
                <div style="display: grid; grid-template-columns: 1fr; grid-template-rows: 30px 1fr; grid-row: 2; grid-column: 1 / 3">
                    <div class="headerImageRow imageRow">
                        <div>
                            Image name:
                        </div>
                        <div>File size:</div>
                    </div>
                    <div *ngFor="let image of images['files']; let i = index" class="imageRow">
                        <div>{{image.name}}</div>
                        <div>{{image.fileSize}}</div>
                        <div>View</div>
                        <div (click)="deleteImage(i)">Delete</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modalButtons">
            <div (click)="close()">Cancel</div>
            <div (click)="save()" [ngClass]="checkFieldsPopulated() ? '' : 'disabled'">Save</div>
        </div>
    </div>
</div>