<div class="homeContainer">
    <div class="filters">
        <div class="loc" style="grid-row: 1; grid-column: 1;">
            <div>Search by town:</div>
            <input type="radio" id="town" name="loc" value="town">
        </div>
        <div class="loc" style="grid-row: 1; grid-column: 2;">
            <div>Search by county:</div>
            <input type="radio" id="county" name="loc" value="county">
        </div>
        <input style="grid-row: 2; grid-column: 1 / 3;" [(ngModel)]="searchlocation" placeholder="Enter location here...">
        <div style="grid-row: 1; grid-column: 4;">Highest price:</div>
        <div style="grid-row: 2; grid-column: 4;">Lowest price:</div>
        <input style="grid-row: 1; grid-column: 5;" [(ngModel)]="hPrice" placeholder="1000000">
        <input style="grid-row: 2; grid-column: 5;" [(ngModel)]="lPrice" placeholder="100000">
        <div style="grid-row: 1; grid-column: 6;">Show STC:</div>
        <input style="grid-row: 2; grid-column: 6; margin: auto" type="checkbox" (click)="toggleSTC()">
        <div class="button" (click)="applyFilters()">Apply filters</div>
    </div>
    <div class="homeList">
        <div *ngFor="let house of houseList" class="row">
            <img *ngIf="checkForImages(house)" [attr.src]="getLink(house)" style="grid-row: 1 / 5; grid-column: 1" width="200px">
            <div style="grid-row: 2; grid-column: 2;">{{house['street_no']}} {{house['street_name']}}, {{house['town']}}</div>
            <div style="grid-row: 3; grid-column: 2;">{{house['county']}}</div>
            <div style="grid-row: 4; grid-column: 2;">{{house['post_code']}}</div>
            <div style="grid-row: 2 / 5; grid-column: 3;">{{house['description']}}</div>
            <div style="grid-row: 2 / 4; grid-column: 4;">£{{house['price']}}</div>
            <div style="grid-row: 4; grid-column: 4;">Contact us regarding a viewing!</div>
            <div style="grid-row: 1 / 5; grid-column: 5"><iframe [attr.src]="setMap(house)" width="200" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></div>
        </div>
    </div>
    
</div>