.body {
    width: 100%;
    height: 100%;
}

.title {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
}

.newsfeed {
    display: flex;
    height: 500px;
    div {
        width: 33.33%;
        overflow: hidden;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 40px 1fr;
        &.newsTitle {
            display: flex;
            align-items: center;
            width: 100%;
            font-size: 18px;
            font-weight: bold;
            margin-left: 25px;
        }
        &.container {
            border: 1px solid;
            width: 90%;
            height: calc( 100% - 40px );
            margin: auto;
        }
        &.null {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            font-size: 20px;
        }
    }
}