<div class="body">
    <div class="title">
        Welcome to the Staff portal {{staff['first_name']}} {{staff['last_name']}}
    </div>
    <div class="newsfeed">
        <div id="unassignedEvents">
            <div class="newsTitle">Unassigned events:</div>
            <div class="container eventsGrid" *ngIf="unassignedEvents.length > 0"></div>
            <div class="container null" *ngIf="unassignedEvents.length === 0">
                No events are currently unassigned.
            </div>
        </div>
        <div id="salesAssignedTo">
            <div class="newsTitle">Sales I'm assigned to:</div>
            <div class="container salesGrid" *ngIf="sales.length > 0"></div>
            <div class="container null" *ngIf="sales.length === 0">
                You have no assigned sales.
            </div>
        </div>
        <div id="yourUpcomingEvents">
            <div class="newsTitle">My upcoming events:</div>
            <div class="container eventsGrid" *ngIf="upcomingEvents.length > 0"></div>
            <div class="container null" *ngIf="upcomingEvents.length === 0">
                You have no upcoming events.
            </div>
        </div>
    </div>
</div>