<div class="website" *ngIf="loaded === 1">
    <div class="banner">
        <div class="title" (click)="page = 'home'">Staff Portal</div>
        <div class="link" (click)="page = 'staff'">Staff</div>
        <div class="link" (click)="page = 'properties'">Homes</div>
        <div class="link" (click)="page = 'events'">Events</div>
        <div class="link" (click)="page = 'services'">Services</div>
        <div class="link" (click)="page = 'clients'">Clients</div>
        <div class="bubble"(click)="logout()">{{initials}}</div>
    </div>
    <div class="body">
        <app-staff-portal-home *ngIf="page === 'home'" [staff]="staff"></app-staff-portal-home>
        <app-staff-portal-staff *ngIf="page === 'staff'" [staff]="staff" [staffDetails]="staffDetails"></app-staff-portal-staff>
        <app-staff-portal-properties *ngIf="page === 'properties'" [staff]="staff" [staffDetails]="staffDetails" [key]="key"></app-staff-portal-properties>
        <app-staff-portal-events *ngIf="page === 'events'" [staff]="staff" [staffDetails]="staffDetails" [key]="key"></app-staff-portal-events>
        <app-staff-portal-clients *ngIf="page === 'clients'" [staff]="staff" [staffDetails]="staffDetails" [key]="key"></app-staff-portal-clients>
        <app-staff-portal-services *ngIf="page === 'services'"></app-staff-portal-services>
    </div>
</div>