<div class="eventContainer">
    <div class="filters">
        <div class="loc" style="grid-row: 1; grid-column: 1;">
            <div>Search by town:</div>
            <input type="radio" id="town" name="loc" value="town">
        </div>
        <div class="loc" style="grid-row: 1; grid-column: 2;">
            <div>Search by county:</div>
            <input type="radio" id="county" name="loc" value="county">
        </div>
        <input style="grid-row: 2; grid-column: 1 / 3;" [(ngModel)]="searchlocation" placeholder="Enter location here...">
        <div style="grid-row: 1; grid-column: 4;">Highest price:</div>
        <div style="grid-row: 2; grid-column: 4;">Lowest price:</div>
        <input style="grid-row: 1; grid-column: 5;" [(ngModel)]="hPrice" placeholder="1000">
        <input style="grid-row: 2; grid-column: 5;" [(ngModel)]="lPrice" placeholder="0">
        <div class="button" (click)="applyFilters()">Apply filters</div>
    </div>
    <div class="servicesList">
        <div *ngFor="let event of eventList; let i = index" class="row">
            <img *ngIf="checkForImages(event)" [attr.src]="getLink(event)" style="grid-row: 1 / 5; grid-column: 1" width="200px">
            <img *ngIf="!checkForImages(event)" src="assets/Home/events.jpg"  style="grid-row: 1 / 5; grid-column: 1" width="200px">
            <div style="grid-row: 2; grid-column: 2;">{{event['street_no']}} {{event['street_name']}}, {{event['town']}}</div>
            <div style="grid-row: 3; grid-column: 2;">{{event['county']}}</div>
            <div style="grid-row: 4; grid-column: 2;">{{event['post_code']}}</div>
            <div style="grid-row: 2 / 5; grid-column: 3;">{{event['event_description']}}</div>
            <div style="grid-row: 2 / 4; grid-column: 4;">£{{event['price']}}</div>
            <div *ngIf="event['clients_attending'] === ''" style="grid-row: 4; grid-column: 4;" (click)="signUpToEvent(i)">Sign up to this event!</div>
            <div *ngIf="event['clients_attending'] !== ''" style="grid-row: 4; grid-column: 4;">Attending!</div>
            <div style="grid-row: 1 / 5; grid-column: 5"><iframe [attr.src]="setMap(event)" width="200" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></div>
        </div>
    </div>
    
</div>