.clientContainer {
    width: calc(100% - 50px);
    height: calc(100vh - 100px);;
    margin: 25px;
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr;
}

.header {
    background-color: #07567e;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 50px;
    grid-template-rows: 50px;
    font-size: 28px;
    font-weight: bold;
    color: white;
    border-radius: 10px 10px 0px 0px;
    div {
        &.title {
            display: flex;
            align-items: center;
            margin-left: 25px;
        }
        &.button {
            width: 30px;
            height: 30px;
            margin: auto;
            cursor: pointer;
            border-radius: 50%;
            border: 2px solid white;
            font-size: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.body {
    background-color: #e7eaec;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 1fr;
    border-radius: 0px 0px 10px 10px;
}

.grid {
    display: grid;
    grid-template-rows: 40px;
    grid-template-columns: 40px 1fr 150px 150px 200px 100px 80px 80px 80px 80px;
    border-bottom: 1px solid lightgray;
    div {
        display: flex;
        align-items: center;
        width: 100%;
        margin-left: 15px;
    }
}