<div class="clientContainer">
    <div class="header">
        <div class="title">Clients</div>
    </div>
    <div class="body">
        <div class="grid">
            <div>ID</div>
            <div>First name</div>
            <div>Last name</div>
            <div>Town</div>
            <div>County</div>
            <div>Post code</div>
        </div>
        <div [ngStyle]="createGrid()">
            <div *ngFor="let row of clientList; let i = index" class="grid">
                <div>{{row['client_ID']}}</div>
                <div>{{row['first_name']}}</div>
                <div>{{row['last_name']}}</div>
                <div>{{row['town']}}</div>
                <div>{{row['county']}}</div>
                <div>{{row['post_code']}}</div>
                <div *ngIf="checkRights('delete_rights')" (click)="deleteClient(i)">Delete</div>
                <div style="grid-column: 8 / 10;" (click)="contactClient(i)">Contact client</div>
            </div>
        </div>
    </div>
</div>